@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'savate', sans-serif;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar { display: none; }
  .scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
}